.similarItemsContainer {
    height: 300px;
    width: auto;
    margin-bottom: 100px;
    display: flex;
    border-top: 1px solid black;
    border-left: 1px solid black;
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: thin;
    overflow-y: hidden;
}

.similarCard {
    flex: 0 0 auto;
    width: 300px;
}

.linkToSimilar {
    width: 16rem;
    text-decoration: none;
    color: inherit;
    flex: 0 0 auto;
}