.search-bar-container{
  height: 10rem;
  background-color: white;
  position: fixed;
  width: 90%;
  top: 4rem;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.search-bar {
    display: flex;
    border-bottom: 1px solid #000;
    margin-bottom: 2rem; /* Solo borde inferior */
  }
  
.search-input {
    width: 100%; 
    padding: 1%; /* Relleno dentro de la caja de texto */
    border: none; /* Sin bordes por defecto */
    outline: none; /* Elimina el contorno al hacer foco */
}