.searchBarContainer{
  height: 10rem;
  background-color: white;
  position: fixed;
  width: 100%;
  top: 4rem;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.SearchBar{
    display: flex;
    border-bottom: 1px solid #000;
  }
  
.searchInput{
    width: 100%; 
    padding: 1%;
    border: none;
    outline: none;
}

.total-phones{
  padding-left: 1rem;
}

@media (max-width: 1200px) {
  .navbar{}
}

@media (max-width: 768px) {

}

