.search-bar {
    display: flex;
    width: 89%; /* Ocupa todo el ancho de la pantalla */
    height: 40px; /* Ajusta la altura según lo necesites */
    border-bottom: 1px solid #000; /* Solo borde inferior */
    position: fixed;
    background-color: cadetblue;
    top: 8rem;
    background-color: white;
  }
  
.search-input {
    width: 98%; /* La barra de búsqueda ocupará todo el ancho disponible */
    padding: 1%; /* Relleno dentro de la caja de texto */
    border: none; /* Sin bordes por defecto */
    outline: none; /* Elimina el contorno al hacer foco */
}