.navbar{
  position: fixed;
  top: 0;
  left: 0;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  justify-content: space-between;
  height: 4rem;
}

.logo-container{
  display: flex;
  align-items: center;
  height: 100%;
  margin-left: 2%;
}

.logo {
  height: 50%;
  width: auto;
}

.shopping-cart-container{
  display: flex;
  align-items: center;
  height: 100%;
  margin-right: 2%;
}

.shopping-cart {
  height: 50%;
  width: auto;
}