.navbar{
  position: fixed;
  top: 0;
  left: 0;
  width: 91%;
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  justify-content: space-between;
  height: 4rem;
  background-color: white;
}

.navbar-cart {
  border-bottom: 1px solid black;
}

.logo-container{
  display: flex;
  align-items: center;
  height: 100%;
  margin-left: 2%;
}

.logo {
  height: 50%;
  width: auto;
}

.shopping-cart-container{
  display: flex;
  align-items: center;
  height: 100%;
  margin-right: 2%;
}

.shopping-cart {
  height: 40%;
  width: auto;
}


