.main-content{
  padding-left: 5%;
  padding-right: 5%;
}

* {
  font-family: Helvetica, Arial, sans-serif;
}

@media (max-width: 768px) {
  .main-content{
    padding-left: 2%;
    padding-right: 2%;
  }
}