.card {
    width: 22rem;
    height: 14rem;
    margin: 1rem;
    display: flex;
}

.phoneImageContainer {
    flex: 1;
    height: 100%;
    width: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.phoneImage {
    width: auto;
    height: 10rem;
}

.phoneDetail {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 2rem;
    padding-bottom: 4rem;
    box-sizing: border-box;
}

.deleteButton {
    all: unset;
    cursor: pointer;
    color: red;
}

.phoneP {
    margin: 0;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .card {
        width: 44rem;
        height: 18rem;
    }

    .phoneImage {
        height: 16rem;
        width: auto;
    }

    .phoneDetail {
        height: 80%;
        padding-top: 6rem;
        padding-bottom: 4rem;
    }
}

@media (max-width: 768px) {
    
}