.phone-grid{
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    width: 100%; 
    overflow: hidden;
    margin-top: 15rem;
    margin-bottom: 6rem;
    border-left: 1px solid black;
    border-top: 1px solid black;
}

.linkTo{
    text-decoration: none;
    color: inherit; 
}

@media (max-width: 1200px) {
    .phone-grid {
        grid-template-columns: repeat(4, 1fr); 
    }
}

@media (max-width: 900px) {
    .phone-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .phone-grid {
        grid-template-columns: repeat(2, 1fr); 
    }
}

@media (max-width: 400px) {
    .phone-grid {
        grid-template-columns: 1fr; 
    }
}
